*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: "Noto Sans", sans-serif;
}

.stat-page {
	width: 70%;
	padding: 5rem;
	display: flex;
	margin: 0 auto;
	flex-direction: column;
}

.stat-board {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1rem;
}

.filter {
	margin-left: auto;
}

.card {
	min-width: 20rem;
	height: 15rem;
	padding: 3rem 2rem;
	border-radius: 3px;
	margin: 1.5rem;

	flex: 1 1 27%;

	font-size: 1.7rem;
	color: white;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card__value {
	font-weight: bold;
	font-size: 2.5rem;
}

.dropdown {
	width: 100%;
	position: relative;
}

.dropdown-label {
	display: inline-block;
	margin-right: 2.5rem;
	color: #6e6e6e;
}

.dropdown-button {
	width: 15rem;
	margin-right: 2.5rem;
	padding: 2px;
	background-color: white;
	outline: none;
	border: 2px solid #ccc;
	color: #6e6e6e;

	font-family: "Noto Sans", sans-serif;

	cursor: pointer;
}

.dropdown-list {
	list-style: none;
	color: #6e6e6e;

	visibility: hidden;
	flex-direction: column;

	border: 2px solid #ccc;
	border-radius: 3px;

	position: absolute;
	top: 0;
	right: -15rem;
}

.dropdown-list.show {
	visibility: visible;
}

.dropdown-item {
	width: 15rem;
	cursor: pointer;
	margin-bottom: 3px;
	padding: 3px;
}

.dropdown-item:active {
	border: 1px solid #ccc;
}

.table {
	border-collapse: collapse;
	margin: 2rem;
}

.table-wrapper {
	margin-right: auto;
	width: 96%;
	overflow-x: scroll;
}

.table-row {
	padding: 5px;
	border-bottom: 2px solid #ccc;
}

.table-col {
	text-align: center;
	padding: 1rem;
	color: #6e6e6e;
	white-space: nowrap;
}

.table-col.fixed {
	position: sticky;
	max-width: auto;
	left: 0;
	top: auto;
	background-color: white;
}

.sort-box {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.critical-box {
	margin-left: auto;
	margin-right: 4rem;
	display: flex;
	align-items: center;
	color: #6e6e6e;
}

.critical-checkbox {
	margin-right: 1rem;
}

@media only screen and (max-width: 68.125em) {
	.stat-page {
		width: 80%;
	}
}

@media only screen and (max-width: 60em) {
	html {
		font-size: 60%;
	}

	.stat-page {
		margin-left: 3rem;
	}
}

@media only screen and (max-width: 37.5em) {
	html {
		font-size: 56.25%;
	}
	.stat-page {
		margin-left: 0;
	}
}
